.header {
    height: 35px;
    width: 800px;
    background-color: #525254;
    opacity: 0.5;
    margin: 0 auto;
    padding: 1em;
}

span {
    color: white;
    opacity: .75;
    font-family: Tahoma, Arial;
    font-weight: 600;
    text-align: center;
    margin: auto 5px;
    padding: auto 5px;
}